html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: fixed;
    background-image: url('../src/assets/images/SCC\ 3.jpg');
    background-size: cover;
    /* Ensures the image covers the entire background */
    background-position: center;
    /* Centers the background image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
}